
.list-special .list-group-item::first-letter {
    font-weight: bold;
}

.list-special input {
    display: inline-block;
    width: 60px;
}

.unavailable {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.perk {
    width: 86px;
    height: 86px;
    border: 1px solid black;
    position: relative;
}

.overlay {
    bottom: 10px;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
}

.has-rank {
    font-size: 12px;
    background-color: rgba(92, 184, 92, 0.80);
    padding: 3px;
    border-radius: 3px;
    color: #fff;
}

.no-rank {
    font-size: 12px;
}

/* Add the new checkbox styling here */
.checkbox input[type="checkbox"] {
    margin-right: 5px;
}

.checkbox label {
    font-weight: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Move the buttons to the side */
.pull-right .btn {
    margin-left: 5px;
}

/* Dark mode styles */
body {
    background-color: #222; /* Dark background color */
    color: #FFF; /* White text color */
    
}

.navbar-default {
    background-color: #333; /* Dark navbar background color */
}

.list-group-item {
    background-color: #333; /* Dark list item background color */
}

.list-group-item span {
    color: #FFF; /* White text color for list items */
}

.form-control {
    background-color: #444; /* Dark form control background color */
    color: #FFF; /* White text color for form controls */
}

.btn {
    background-color: #444; /* Dark button background color */
    color: #FFF; /* White text color for buttons */
}

.btn-primary {
    background-color: #337ab7; /* Dark primary button background color */
    border-color: #2e6da4; /* Dark primary button border color */
}

/* Dark mode styles for description on mouseover */
.perk:hover .overlay {
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay background color */
}
.perk:hover .overlay span {
    color: #FFF; /* White text color on mouseover */
}


/* Popup colours */
.popover {
    background-color:#222;
    color: #FFF;

}
/* Popup title colours */
.popover-title{

    color:white;
    background-color: #339966; 
}



